<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kang yi ping</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/marked"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="book">
        <div class="notebook">
            <div>
                <button v-bind:title="addButtonTitle" v-on:click="addNote">Add Note</button>
                <div @click="selectNote(note)" class="note"
                 :class="{selected:note===selectedNote}"
                 v-for="note of notes">{{note.title}}</div>
            </div>
        </div>
        
        <div class="input">
            <div v-if="selectedNote">
                <input type="text" placeholder="note name" v-model="selectedNote.title">
                <button @cilck="removeNote">delete</button>
            </div>
            <textarea class="inputtext" v-model="selectedNote.content" v-if="selectedNote"></textarea>
        </div>

        <div class="markdown" v-html="previewMarked" v-if="selectedNote">
        </div>

    </div>

    <script src="./notebook.js"></script>

</body>

</html>