body {
    margin: 0;
}

#book {
    display: flex;
    /*flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;*/
}

.notebook,
.input,
.markdown {
    height: 1000px;
}

.notebook {
    width: 20%;
    background-color: thistle;
}

.input {
    width: 40%;

    background-color: wheat;
}

.markdown {
    width: 40%;
    background-color: pink;
}
.inputtext{
    width: 97%;
    height: 100%;
    background-color: bisque;
}